# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
THUMB_IMAGE = "https://i.imgur.com/UCxG4Ok.jpeg"
port = 5000
email = "mu30906587222@gmail.com"
global_url = "instagram.com"
OWNER_NAME = " 𝑈𝑆𝛭𝛥𝛮"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 91
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SECKTOR
WORKTYPE = public
PACK_INFO = " 𝑈𝑆𝛭𝛥𝛮"
ANTILINK_VALUES = "chat.whatsapp.com"
